.Reserva {
    margin-top: 4em;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}

.Reserva h1,
h3 {
    text-align: center;

    text-shadow: 1px 1px 1px rgb(159, 162, 98);
}

.Reserva h1 {
    font-size: 1.5em;
}

.Reserva h3 {
    font-size: 1rem;
}

/*--------------------------------------------------------*/
.container__Button {
    border: solid black;
    display: grid;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.5em 1.5em;
    padding: 2.5em;
    gap: 6rem;
    box-shadow: 5px 5px 5px;
}

/*----------------------------------------------------------*/
#modal {

    border: solid greenyellow;
    margin: 10% 3%;
    padding: 5%;
}

#modal::backdrop {
    background-color: rgba(156, 137, 14, 0.25);
}

.container__Inicio {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    gap: 1rem;
}


#modal-salida {
    border: solid greenyellow;
    margin: 10% 35%;
    padding: 5%;
}

#modal-salida::backdrop {
    background-color: rgba(156, 137, 14, 0.25);
}

.container__Salida {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    gap: 1rem;
}

#modal-pasajeros{
    border: solid greenyellow;
    margin: 10% 60%;
    padding: 5%;

}


#modal-pasajeros::backdrop {
    background-color: rgba(156, 137, 14, 0.25);
}

.container__Select {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    gap: 1rem;
}
/*-----------------------------------------------------*/

 .container__titular {
       font-size: 15px; 
        font-style:oblique;
        margin: 5px; 
 }

.container__titular input {
    border: solid rgb(127, 127, 127) 2px;
   }

.container__titular input:hover{
   
    box-shadow: 2px 5px ;
    }
/*-------------------------------------*/
.titular__nombre {
   display: grid;
   grid-template-columns: repeat(2,1fr)
}

.name{
    display: flex;
   flex-direction: column;
   gap: 0.5rem;
    
}
.name input{
       padding: 5px;
       width: 90%;
}

.lastname{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    }

.lastname input{
        padding: 5px;
        width: 90%;
    }
/*-------------------------------------*/
   

 .dni-numero{
    padding: 5px;
    width: 100%;
 }

.Contacto input{
    padding: 5px;
    width: 100%;

}
.submits{
    
    margin: 0% 35%;
}

.submits button{
    padding: 15px;
    background-color: rgb(38, 37, 37);
    color: var(--white);
    font-size: 13px;
    border-radius: 15px;
    margin: 5% 10%;
}


.submits a{
    padding: 15px;
    background-color: rgb(38, 37, 37);
    color: var(--white);
    font-size: 13px;
    border-radius: 15px;
}

/* input[type="date"]::-webkit-calendar-picker-indicator{
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
} */